<kendo-pdf-export #pdf paperSize="A4" margin="2cm" [repeatHeaders]="repeatHeaders">
  <table class="table">
    <thead>
      <tr>
        <th>User Name</th>
        <th>Email</th>
        <th>Alamat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let listUser of data.result">
        <td>{{listUser.username}}</td>
        <td>{{listUser.email}}</td>
        <td>{{listUser.alamat}}</td>
      </tr>
    </tbody>
  </table>
  <div class="example-config">
    <button kendo-button (click)="pdf.saveAs('table.pdf')">
      Save As PDF
    </button>
  </div>
</kendo-pdf-export>